body{
    background:#1e1e1e;
    color:white;
    font-family:Arial;
}

.container{
    width:90%;
    margin:auto;
}

table{
    width:100%;
    border-collapse:collapse;
}

th, td{
    border:1px solid #555;
    padding:10px;
}

th{
    background:#333;
}

input, button, select{
    padding:10px;
    margin:5px;
    background:#333;
    color:white;
    border:none;
}

.card{
    display:inline-block;
    background:#333;
    padding:20px;
    margin:10px;
    color:white;
    text-decoration:none;
}
